.navbarContainer {
  display: flex;
  justify-content: space-between;
  height: 20vh;
  padding: 0.5rem;
}

.navbarContainer ul {
  list-style-type: none;
}

.navbarContainer li {
  display: flex;
  align-items: center;
  height: 24px;
}

.navbarTitleContainer,
.navbarMenus,
.navbarButtons {
  display: flex;
  align-items: center;
}

.navbarMenus a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0.5rem;
  font-size: 0.9rem;
  display: inline-block;
  opacity: 0;
  transform: translateY(-30px);
  animation: apparition 0.8s ease-out forwards;
}

.navbarMenus a:hover {
  color: var(--divBackgroundColorDark);
}

.navbarMenus img,
.navbarTitle {
  display: inline-block;
  opacity: 0;
  transform: translateY(-30px);
  animation: apparition 0.8s 0.5s ease-out forwards;
}

.navbarMenus li:nth-of-type(1n + 2) img {
  display: none;
}

.navbarButtons {
  gap: 2vw;
}

.navbarButtons button {
  background-color: transparent;
  border: solid 1px var(--divBackgroundColorDark);
  border-radius: 5px;
  box-shadow: none;
  padding: 1rem;
  text-transform: uppercase;
  display: inline-block;
  opacity: 0;
  transform: translateY(-30px);
  animation: apparition 0.8s 0.5s ease-out forwards;
  cursor: pointer;
  transition: box-shadow 0.5s ease-out, color 0.5s ease-in-out;
}

.navbarButtons button:hover {
  box-shadow: 0 0 0 2px var(--divBackgroundColorDark);
  color: var(--divBackgroundColorDark);
}

@keyframes apparition {
  100% {
    opacity: 1;
    transform: none;
  }
}
